.body{
    background-color: black;
}

.heading{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: xxx-large;
}

.case-1{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    border-style: dotted;
    padding: 5%;
}

.analysis{
    color: white;
    font-family: ocr-a-std, monospace;
    text-align: center;
    font-size: 30px;
    padding: 5%;

}

.analysis-grid{
    display: grid;
    background-color: rgb(202, 202, 202);
   grid-template-columns: 1fr 1fr 1fr;
 font-family: ocr-a-std, monospace; 
   text-align: center;
   column-gap: 1cm;
   row-gap: 0.5cm;
   padding: 5%;
   border-style:ridge;
   border-color: gray;
   border-width: 0.1cm;

}

.bonenames{
    color: blue;
}

.status-okay{
    color: orangered;
}
.status-good{
    color: rgb(185, 182, 19);
}
.status-well{
    color: rgb(101, 155, 22);
}
.readyforlab{
    color: darkcyan;
}

.faded {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}

.XRAY{
color: limegreen;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

.statusofXRAY {
color: limegreen;
font-family: 'Courier New', Courier, monospace;
text-align: center;

}


.fail {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;

 animation:blinking 1.5s infinite;
font-size: 90px;
}
@keyframes blinking{
0%{   color: red;   }
47%{   color: #000; }
62%{   color: transparent; }
97%{   color:transparent; }
100%{  color: #000;   }
}

.notefromlester {
color: whitesmoke;
font-family: 'Courier New', Courier, monospace;
text-align: right;
font-size: x-small;
}

.endingnote {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: small; 
    
}


.backtoindex {
    color: whitesmoke;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}