.heading{
    color: black;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: xxx-large;
}

.text{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
    padding-top: 5%;
}

.grid{
    display: grid;
    gap: 1.5rem;
    /*
    grid-template-columns: 1fr 1fr 1fr 1fr;
    */

    width: min(95%, 70rem);
    padding: 10%;
    margin-inline: auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    line-height: 20px;
   
}

@media(min-width: 30em){
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

.grid-col-span-2{
    grid-column: span 2;
}
.grid-col-span-5{
    grid-column: span 2;
}

.grid-row-span-3{
    grid-row: span 2;
}
.grid-col-span-6{
    grid-column: span 4;
}


}

/*
.grid-col-span-2{
    grid-column: span 2;
}
.grid-col-span-5{
    grid-column: span 2;
}

.grid-row-span-3{
    grid-row: span 2;
}
.grid-col-span-6{
    grid-column: span 4;
}

*/

.grid div:nth-child(1){
    background-color: rgb(162, 153, 153);
    color: white;
    min-height: 150px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;


}
.grid div:nth-child(2){
    background-color: rgb(95, 95, 95);
    color: white;
    min-height: 150px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.grid div:nth-child(3){
    background-color: rgb(161, 91, 91);
    color: white;
    min-height: 150px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.grid div:nth-child(4){
    background-color: gray;
    color: white;
    min-height: 150px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;}

.grid div:nth-child(5){
    background-color: rgb(101, 50, 50);
    color: white;
    min-height: 150px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.grid div:nth-child(6){
    background-color: rgb(62, 23, 23);
    color: white;
    min-height: 150px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.victim-note-text{
    font-family: 'Raleway', sans-serif;
    font-size: small;
}