
.heading{
    color: rgb(255, 255, 255);
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: 117px;
    position: absolute;
    top: 50px;
    left: 65px;
  /* left: 10%; */
}

@media (max-width: 425px){
    .heading{
color: white;
        font-size: 30px;
        position: absolute; 
        top: 50px;
        left: 64.3px;

    }

}


@media (min-width: 1024px){
    .heading{

        font-size: 150px;
        position: absolute;
        top: 10%;
        left: 5%;

    }

}


.squeamish{
border: 5px;
border-style: solid;
border-color: white;
justify-content: center;
}

.veindude{
    max-width: 1024px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (max-width: 440px){
    .Lester-img{
        max-width: 200px;
        max-height: 200px;
        }
}

@media (min-width: 440px){
    .Lester-img{
        max-width: 400px;
        max-height: 400px;
        }
}

body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: center;
}

.grid{
 display: grid;
 font-family: ocr-a-std, monospace;
 color: white;
 background-color: rgb(102, 24, 63);
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
}

@media(min-width: 585px){
    .grid{
        grid-template-columns: 1fr 1fr;
        font-family: ocr-a-std, monospace;
        font-weight: 400; 
        font-style: normal;
        color: white;
        text-align: left;

    }
}

.grid div:nth-child(2){
    font-family: ocr-a-std, monospace;
    font-weight: 400; 
    font-style: normal;
    color: white;
    min-height: 100px;
    text-align: left;
    /* padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px; */
    padding: 10%
}

.test-results{
    display: grid;
    background-color: rgb(102, 24, 63);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
   }

.text{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
  text-align: center;
  justify-content: center;
    
}


.backtoindex {
    color: rgb(178, 161, 172);
    font-size:small;
    font-family: 'Silkscreen', cursive;
    display:inline-block;
    text-align: center;
    background-color: rgb(98, 30, 85);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70%;
}
