.backtoindex {
color: red;
font-size: small;
font-family: 'Courier New', Courier, monospace;

}

.heading{
    color: white;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: xxx-large;
}