.body{
    background-color: black;
}

.heading{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: xxx-large;
}

.case-1{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    border-style: dotted;
    padding: 5%;
}

.analysis{
color: white;
    font-family: ocr-a-std, monospace;
    text-align: center;
    font-size: 30px;
    padding: 5%;

}


.analysis-grid{
    display: grid;
    color:whitesmoke;
    /* background-color: rgb(202, 202, 202); */
   grid-template-columns: 1fr 1fr 1fr;
 font-family: ocr-a-std, monospace; 
   text-align: center;
   column-gap: 1cm;
   row-gap: 0.5cm;
   padding: 5%;
   border-style:ridge;
   border-color: gray;
   border-width: 0.1cm;

}

@media(max-width:425px){
.analysis-grid{
    font-size: x-small;
}

}


@media(min-width:425px){
    .analysis-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}





.bodyparts{
    color:whitesmoke;
}
.bonenames{
    color: blue;
}
.status-okay{
    color: rgb(255, 0, 0);
}
.status-good{
    color: rgb(204, 255, 0);
}
.status-well{
    color: rgb(153, 255, 0);
}
.readyforlab{
    color: rgb(0, 255, 255);
}

.faded {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}

.picture{
width: 200px;
height: 200px;
margin-left:17%;
}

@media(min-width:768px){
    .picture{
 width: 600px;
            height: 600px;
            margin-left: 10%;
            padding-top: 0%;
            }
    }


.fail {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
 animation:blinking 1.5s infinite;
font-size: 90px;
}

@media(min-width:425px){
    .fail {
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bolder;
        border-style: dotted;
        border-color: red;
        border-radius: 70%;
        padding: 5%;
    
     animation:blinking 1.5s infinite;
    font-size: 90px;
    }  
}

@keyframes blinking{
0%{   color: red;   }
47%{   color: #000; }
62%{   color: transparent; }
97%{   color:transparent; }
100%{  color: #000;   }
}

.notefromlester {
color: whitesmoke;
font-family: 'Courier New', Courier, monospace;
text-align: right;
font-size: x-small;
}

.backtoindex {
    color: whitesmoke;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

.notefromlesterpicture{
    width: 500px;
    height: auto;
    padding-left: 140px;
}

@media(max-width:425px){
    .notefromlesterpicture{
        width: 300px;
        height: auto;
        padding:revert;
    }
}

.backtoindex {
    color: rgb(13, 255, 0);
    font-size:small;
    font-family: 'Silkscreen', cursive;
    display:inline-block;
    text-align: center;
    background-color: transparent;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 70%;
}
