.victims {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

div
 {
    
    border-style: solid;
    border-color: white;
    color: white;
    background-color: transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 250px;
    position:sticky;
    margin-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.desc {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: center;
    padding-left:  10%;
    padding-right:  10%;

}


@media (min-width: 400px) {
    div{ 
        background-color: rgba(71, 70, 70, 0.649);
        border: transparent;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    }

.remi{
    grid-column: 1 / 2;
    grid-row: 1;

}

.lester{
    grid-column: 2 / 2;
    grid-row: 1; 
}

.noor{
    grid-column: 1 / 2;
    grid-row: 2;
}

.benjamin{
    grid-column: 2 / 2;
    grid-row: 2;
}

.max{
    grid-column: 1 / 2;
    grid-row: 3;
}
.isaiah{
    grid-column: 2 / 2;
    grid-row: 3;
}
}

.notefromlester {
    font-size: x-small;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    animation: ;
    }