
.victims {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

.desc {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: center;
    padding-left:  10%;
    padding-right:  10%;

}
section {
	display: flex; /* We’ll talk about flex soon! */
	flex-wrap: wrap;
	gap: 10px;
}

div { background-color:  transparent;
font-size: small; 
color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border-radius: 70px ;}

@media (min-width: 700px) {
	div {
		background-color: rgba(45, 55, 46, 0.864);
		width: calc((100% - 10px) / 2);
        border-radius: 70px;
	}
}

@media (min-width: 900px) {
	div {
		background-color: rgba(93, 116, 95, 0.864);
		width: calc((100% - 30px) / 3);
	}
}
.notefromlester {
    font-size: x-small;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    }

    .endingnote {
        color: whitesmoke;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        font-size: small; 
        
    }
    
    
    .backtoindex {
        color: whitesmoke;
        font-size:small;
        font-family: 'Courier New', Courier, monospace;
        text-align: right;
    }