.faded {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}

.XRAY{
color: limegreen;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

.statusofXRAY {
color: limegreen;
font-family: 'Courier New', Courier, monospace;
text-align: center;

}


.fail {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;

 animation:blinking 1.5s infinite;
font-size: 100px;
}
@keyframes blinking{
0%{   color: red;   }
47%{   color: #000; }
62%{   color: transparent; }
97%{   color:transparent; }
100%{  color: #000;   }
}

.notefromlester {
color: whitesmoke;
font-family: 'Courier New', Courier, monospace;
text-align: right;
font-size: x-small;
}

.endingnote {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: small; 
    
}


