.heading{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: xxx-large;
}

.body{
    background-color: black;
}

.case-1{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center; 
    padding: 5%;
    border-style: dashed;
}

.subheading{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center; 
    padding: 5%;

}

.note2{
    width: 250px;
    height: auto;
    margin-left: 10%;
}

@media(min-width:768px){
    .note2{
        width: 500px;
        height: 500px;
        margin-left: 15%;
    } 
}

.notefromlester {
font-size: x-small;
color: whitesmoke;
font-family: 'Courier New', Courier, monospace;
text-align: right;
}

.analysisheading{
    color: white;
    font-family: ocr-a-std, monospace;
    text-align: center;
    font-size: 30px;
    padding: 5%;
    border-style: double;
    border-color: white;

}

.status {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}

  .analysis{
    display:grid;
    grid-template-columns: 1fr;
padding: 10px;
gap: 0.1cm;

    color: blueviolet;
    background-color: rgb(245, 245, 245);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
        
    }

    .transformbutton {
        color: white; 
        background-color: red;
            padding: 16px 32px;
            text-align: center;
           font-family: 'Courier New', Courier, monospace;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            align-items: center;
            margin: 50%;
    }

.statusofXRAY {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    }

    .fail {
        color: rgb(0, 255, 4);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bolder;
    
     animation:blinking 1.5s infinite;
    font-size: 40px;
    }
    @keyframes blinking{
    0%{   color: rgb(255, 0, 0);   }
    47%{   color: rgb(234, 251, 0); }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: rgb(9, 255, 0);   }
    }

@media(min-width:768px){
    .fail{
        font-size: 90px; 
    }

}


.interruption{
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
}

aside {
	background-color: transparent;
	float: left;
	margin-right: 10px;
	padding: 10px;
	width: 300px;
}

@media{
    .aside{
            width: 400px;
        }
    }


.corr1{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.corr2{
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.knee{
    height: 200px;
    width: 200px;
  margin-left: 15%; 
}

@media(min-width:768px){
    .knee{
        height: 500px;
        width: 500px;
      margin-left: 15%; 
    }  
}

.endingnote {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: small; 
    padding: 10px;
    
}


.backtoindex {
    color: rgb(13, 255, 0);
    font-size:small;
    font-family: 'Silkscreen', cursive;
    display:inline-block;
    text-align: center;
    background-color: transparent;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 70%;
}