.body{
    background-color: black;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

} 


.entry-1{
    background-color: black;
    color: lime;
    border-style: solid;
    border-radius: 15px;
    border-color: lime;
    padding: 10%;
    font-family: 'Silkscreen', cursive;
    font-size: x-large;
    transition-duration: 0.4s;
}
.entry-1:hover{
    background-color: lime;
    color: black;
    border-color: white;
}