/* .SQUEAMISH {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: limegreen;
    text-align: center;
}

.Index {
font-family: 'Courier New', Courier, monospace;
color: limegreen;
font-weight: bold;
text-align: center;
font-style: oblique;

}

.thehumanindisposition {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    
}


.twentysept {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;

} */

.heading{
    color: lime;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: xxx-large;
}

a {
    color: lime;
  }

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

}


.entry-1{
    background-color: black;
    color: lime;
    border-style: solid;
    border-radius: 15px;
    border-color: lime;
    padding: 20%;
    font-family: 'Silkscreen', cursive;
    font-size: x-large;
}

.body{
    background-color: black;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr;

} 

@media(min-width: 425px){  .buttons{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

}



.entry-1{
    background-color: black;
    color: lime;
    border-style: solid;
    border-radius: 15px;
    border-color: lime;
    padding: 10%;
    font-family: 'Silkscreen', cursive;
    font-size: x-large;
    transition-duration: 0.4s;
}
.entry-1:hover{
    background-color: lime;
    color: black;
    border-color: white;
}

a:hover{
    color: white;
}

