.SQUEAMISH {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: limegreen;
    text-align: center;
}

.Index {
font-family: 'Courier New', Courier, monospace;
color: limegreen;
font-weight: bold;
text-align: center;
font-style: oblique;

}

.thehumanindisposition {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    
}


.twentysept {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;

}
